<p>Nombre del empleado:{{nombre}}</p>
<p>Apellido del empleado:{{apellido}}</p>

<p>Edad del empleado:{{edad  <18 ? "Menor de edad":"Mayor de edad" }}</p>

<p>Dirección del empleado: {{direccion}}</p>
Introduce la dirección del empleado: <input type="text" [(ngModel)]="direccion">
    
<p>Empresa del empleado:{{empresa}}</p>
Introduce la empresa del empleado: <input type="text"[(ngModel)]="empresa">

<!--Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">-->


<p>Nacionalidad del empleado: {{nacionalidad}}</p>
Introduce la Nacionalidad del empleado: <input type="text" [(ngModel)]="nacionalidad">



<br/>
<br/>

<!--<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)">-->

{{textoDeRegistro}}<br/>
<br/>
Registrado: <input type="radio" value="si" name="nRegistro" id="registro"[checked]="usuRegistrado" (click)="setusuarioRegistrado($event)"/><br/>
<br/>
No registrado: <input type="radio" value="no" name="nRegistro"(click)="setusuarioRegistrado($event)">

{{getRegistroUsuario()}}



